* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    background: none;
    color: inherit;
}

button {
    cursor: pointer;
}

$red100: rgb(18, 1, 1);

@mixin h2() {
    width: fit-content;
    font-size: 48px;
    position: relative;
    margin: 30px 0px;
    &::after {
        position: absolute;
        content: "";
        width: 50px;
        height: 5px;
        background: red;
        left: 50%;
        transform: translateX(-50%);
        bottom: -20px;
    }
}